# This workflow will install Python dependencies and run unit tests for given OSes

name: Unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: ['windows-latest']
        python-version: [ 3.7, 3.8, 3.9]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pylama pylama_pylint coverage click https://github.com/robotframework/robotframework/archive/master.zip
#    - name: Code quality with pylama
    - name: Run unit tests with coverage
      run:
        coverage run -m pytest
    - name: Codecov
      uses: codecov/codecov-action@v1.0.11
      with:
        name: codecov-robotidy
      if: always()
