.. _{{ transformer_name }}:

{{ transformer_name }}
================================
Short description.

{% if disabled %}
.. |TRANSFORMERNAME| replace:: {{ transformer_name }}
.. include:: disabled_hint.txt

{% else %}
.. |TRANSFORMERNAME| replace:: {{ transformer_name }}
.. include:: enabled_hint.txt
{% endif %}

Long description with code examples.
